@charset "UTF-8";

@media screen and (max-width: 768px) {


    .bemvindo {
     background: url(imagens/pagina-1-celular.png);
     width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    }


.header_links ul {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
        column-gap: 15px;
    
}

.header_links a {
    padding-left: 25px;
}

    .bemvindo img {
        width: 150px;
        height: 150px;
        padding-left: 4px; 
        padding-top: 30px;   
    }
    
    .bemvindocontent {
        width: 90vw;
        height: 700px;
        padding-left: 14px;
    }

    .bemvindocontent h1 {
        font-size: 40px;
    }

    .como_vamos_te_ajudar {
        background: url(imagens/pagina-2-celular.png);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
    }
    
    .comoteajudar_text {
        width: 90%;
        height: 200px;
       padding: 0px;
       margin: 0px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .comoteajudar_text h1 {
            font-size: 37px;
            width: 90%;
    }
    
    .comoteajudar_servicos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: 400px;
        row-gap: 5px;
        column-gap: 15px;

    }
    
    .servicos {
        background-color: #ffffff;
        width: 160px;
        height: 180px;
        color: black;
        display:flex;
        flex-direction: column;
    }
    
    .servicos h2 {
        padding-left: 10px;
        font-size: 18px;
    }
    .servicos p{
        padding-left:10px;
        color: black;
        font-size: 14px;
    }
    
    .servicos img{
        padding-left: 10px;
        padding-top: 15px;
        width: 40px;
        height: 35px;
    
    }


.quem_somos_nos {
    background: url(imagens/pagina-3-celular.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 55px;
    align-items: center;
}

.quem_somos_nos h1 {
    padding-top: 74px;
    font-size: 34px;
}

.quem_somos_nos_text {
    width: 85vw;
    height: 200px;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.quem_somos_nos_img img{
    width: 90vw;
    height: 250px;
    border-radius: 20px;
}

.nosso_time {
    background: url(imagens/pagina-4-celular.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 40px;
}

.nosso_time h1 {
    font-size: 40px;
    padding-left: 0px;
}


.div_nosso_time {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90vw;
    height: 730px;
}

.funcionarios {
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;   
}

.funcionariostext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funcionarios h2 {
    font-size: 20px;
}

.funcionarios img {
    width:100px ;
    border-radius: 30px 0px 0px 30px;
} 

.whatsapp {
    position: fixed;  
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 32px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.whatsapp img {
    width: 55px;
    height:55px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px  #fff;
}

.nossasredes {
    display: flex;
    justify-content: center;
}

.nossasredes img {
    width: 50px; 
}

.nossasredes a {
    display: flex;
    padding: 16px;
}

.nossasredes a:hover {
    background: rgba(0,0,0 , 0.6);
}



    
    
 }

 @media screen and (min-width:768px) and (max-width:992px) {
    .bemvindo {
        background: url(imagens/pagina-1.png);
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    .como_vamos_te_ajudar {
        background: url(imagens/pagina-2.png);
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    .comoteajudar_text{
        gap: 40px;
    }

    .comoteajudar_text h1 {
        width: 500px;
        font-size: 40px;
    }

    .quem_somos_nos {
        background: url(imagens/pagina-3.png);
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    .quem_somos_nos h1 {
        font-size: 40px;
    }

    .quem_somos_nos_img img {
        width: 80vw;
        height: 40svw;
    }

    .nosso_time {
        background: url(imagens/pagina-4.png);
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }    
 }