@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

body h1 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.welcome , .who_we_are {
    height: 711px;
    
}

.how_help_you{
    height:929px ;
}

.our_team{
    height: 752px;
}

.welcome{
    /*linear-gradient(to right , #314755 , #26a0da)*/
    background-image: url(imagens/pagina-1.png);
    color: #fff;
    font-weight: 300;
    width: 100%;
}

.welcome_image img {
    position: absolute;
    width: 650px;
    left: 700px;
    opacity: 0.6;
}

.welcome_content{
    display: flex;
    flex-direction: column;
    width: 511px;
    height: 431px;
    position: absolute;
    left: 92px;
    top: 131px;
    gap: 32px;
    text-align: justify;
}

.welcome_content h1 {
    padding-bottom: 32px;
}

.welcome_button button {
    border-radius: 20px;
    width: 247px;
    height: 48px;
    position: absolute;
    top:396px ;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.519);
    cursor: pointer;

    background: linear-gradient(86.96deg, #5C80FF 4.36% , #1a52e4 93.5%) ;
}

button a {
    text-decoration: none;
    color: #fff;
}

.how_help_you{
    background-image: url(imagens/pagina-2.png);
}

.how_help_content{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 500px;
    height: 397px;
    left: 78px;
    top: 995px;
    color: #fff;
    text-align: justify;
}

.content_services {
    position: absolute;
    width: 666px;
    height: 682px;
    left: 769px;
    top: 815px;
    background-color: #232323;
    color: #000;
}

.group1{
    position: absolute;
    width: 308px;
    height: 682px;
    background-color: #232323;
}

.group2{
    position: absolute;
    width: 308px;
    height: 682px;
    left: 358px;
    background-color:#232323;
}

.service1 {
    width: 308px;
    height: 316px;
    background-color: #fff;
}

.service2 {
    width: 308px;
    height: 316px;
    background-color: #fff;
    margin-top: 50px;    
}

.service3 {
    width: 308px;
    height: 316px;
    background-color: #fff;
}

.service4 {
    width: 308px;
    height: 316px;
    background-color: #fff;
    margin-top: 50px;    
}

.service1 h2 , .service3 h2 {
    position: absolute;
    left: 26px;
    top: 100px;
}

.service2 h2 , .service4 h2 {
    position: absolute;
    left: 26px;
    top: 466px;
}

.service1 p , .service3 p {
    position: absolute;
    left: 26px;
    top: 142px;
}

.service2 p , .service4 p {
    position: absolute;
    left: 26px;
    top: 508px;
}

.service1 img {
    width: 84px;
    height: 64px;
    position: absolute;
    left: 26px;
    top: 10px;    
}

.service2 img {
    position: absolute;
width: 60px;
height: 68px;
left: 25px;
top: 382px;
}

.service3 img {
    width: 64px;
    height: 60px;
    position: absolute;
    left: 26px;
    top: 10px;    
}

.service4 img {
    position: absolute;
width: 60px;
height: 63px;
left: 25px;
top: 382px;
}

.who_we_are{
    background: url(imagens/pagina-3.png);
}

.our_team{
    background: url(imagens/pagina-4.png) ;
}

.who_we_are_content {
    color: #fff;
    position: absolute;
    width: 500px;
    left: 78px;
    top: 1805px;
}

.who_we_are_content h1 {
    padding-bottom: 32px;
}

.who_we_are_img img {
    position: absolute;
width: 659px;
height: 449.78px;
left: 769px;
top: 1755px;
border-radius: 20px;
}