@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    height: 100vh;
}

body h1 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

body p {
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 130px;
    height: 200px;
    width: 100%;
}

.header_links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 600px;
    
}

.header_links a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight:900;
}

.header_links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    

}

.bemvindo {
    width: 100%;
    background-image: url(imagens/pagina-1.png);
    height: 100vh;
    background-size: cover;
}

.header img {
    width: 217px;
    height: 200px;
    padding-left: 104px;    
}

 .bemvindoimg {
     width: 740px ;
     height: 730px;
    padding-bottom: 140px;
} 


.bemvindocontent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.bemvindotext {
    width: 550px;
    height: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 154px;
}

.bemvindoimg img {
    width: 100%;
    height: 100%;
}



button {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-image:linear-gradient(86.96deg, #5C80FF, #1A52E4);
}

button a {
    color: #fff;
    text-decoration: none;
    font-weight:900;
}

.como_vamos_te_ajudar {
    background: url(imagens/pagina-2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.como_vamos_te_ajudar h1 {
    width: 81%;
    
}

.comoteajudar_text {
    width: 550px;
    height: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 74px;
    justify-content: center;
}

.comoteajudar_servicos {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 550px;
    gap: 50px;
}

.servicos {
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    color: black;
    display:flex;
    flex-direction: column;
}

.servicos h2 {
    padding-left: 10px;
}
.servicos p{
    padding-left:10px;
    color: black;
}

.servicos img{
    padding-left: 10px;
    padding-top: 15px;
    width: 64px;
    height: 60px;

}


.quem_somos_nos {
    background: url(imagens/pagina-3.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quem_somos_nos_text {
    width: 550px;
    height: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 74px;
    justify-content: center;
}

.quem_somos_nos_img img{
    width: 609px;
    height: 450px;
    border-radius: 20px;
}


.nosso_time {
    background: url(imagens/pagina-4.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.nosso_time h1 {
    padding-left: 154px;
}

.div_nosso_time {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1415px;
    height: 430px;
}

.funcionarios {
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-radius: 30px;
    
}

.funcionarios p {
    color: black;
    padding-left: 20px;
}

.funcionarios h2 {
    padding-left: 5px;
}

.funcionarios img {
    width:250px ;
    border-radius: 30px 30px 0px 0px;
}

.whatsapp {
    position: fixed;  
    height: 90px;
    width: 90px;
    bottom: 20px;
    right: 52px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.whatsapp p {
    width: 120px;
    font-size: small;
    color: #000;
    background-color: #000000;
    border-radius: 10px;
    padding-left: 12px;
    text-decoration: solid;

}

.whatsapp img {
    width: 65px;
    height:65px;
    border-radius: 10px;
}

.nossasredes {
    display: flex;
    justify-content: center;
}

.nossasredes img {
    width: 40px; 

}

.nossasredes a {
    display: flex;
    padding: 16px;
    border-radius: 50%;
}

.nossasredes a:hover {
    background: rgba(0,0,0 , 0.6);
}



