@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

body h1 {
    font-weight: 600;
    font-size: 50px;
}

.welcome , .who_we_are {
    height: 711px;
}

.how_help_you{
    height:929px ;
}

.our_team{
    height: 752px;
}

.welcome{
    background: linear-gradient(to right , #314755 , #26a0da);
    color: #fff;
    font-weight: 300;
}

.welcome_content{
    display: flex;
    flex-direction: column;
    width: 511px;
    height: 431px;
    position: absolute;
    left: 92px;
    top: 131px;
    gap: 32px;
}

.welcome_text {
    justify-content: center;   
}

.welcome_button button {
    border-radius: 20px;
    width: 247px;
    height: 48px;
    position: absolute;
    top:396px ;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.519);

    background: linear-gradient(86.96deg, #5C80FF 4.36% , #1a52e4 93.5%) ;
}

.how_help_content{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 418px;
    height: 397px;
    left: 78px;
    top: 995px;
}

.content_services {
    position: absolute;
    width: 666px;
    height: 682px;
    left: 769px;
    top: 815px;
    background-color: lightblue;
}

.group1{
    position: absolute;
    width: 308px;
    height: 682px;
    background-color: #1a52e4;
}

.group2{
    position: absolute;
    width: 308px;
    height: 682px;
    left: 358px;
    background-color: #1a52e4;
}

.service1{
    background-color: rgb(156, 25, 25);
    width: 308px;
    height: 316px;
}

.service2{
    width: 308px;
    height: 316px;
    top: 366px;
    background-color: rgb(156, 25, 25);
}
